<%= render "shared/header" %>

<div id="container">
  <div id="contents">

    <section id="apps">
      <h3>Apps</h3>
      <% @applists.each do |applist| %>
        <%= render partial: 'shared/applist', locals: { applist: applist } %>
      <% end %>
    </section>

    <div class='pagination-top'><%= paginate @applists %></div>
  </div>
</div>

<footer>
  <small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
  <span class="pr">《<a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
</footer>

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>
